<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Listing page</title>
</head>
<body>
    <h1>Working</h1>
    <form method="POST" action="/patient/:id" >
        <button>Patient</button>
    </form>
    <form method="POST" action="/doctor/:id" >
        <button>Doctor</button>
    </form>
</body>
</html>