<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started</title>
    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header className="navbar">
        <div class="logo">WELCOME</div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Service</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="main">
        <div class="content">
            <h1>Want To Have <span>Appointments?</span></h1>
            <p>Why Choose US?</p>
            <ul>
                <li>&#10004; Quick And Easy Appointments</li>
                <li>&#10004; Experienced Doctors</li>
                <li>&#10004; Flexible Scheduling</li>
            </ul>
            <div class="buttons">
                <form action="/register">
                    <button class="getStarted">Get Started</button>
                </form>
            </div>
        </div>
        <div class="image-container">
            <img src="./assets/doctor.jpeg" alt="Doctor">
        </div>
    </section>
</body>
</html>